section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    div {
        width: 100%;
    }

    input,
    button {
        margin-top: 20px;
    }

    button {
        width: 100%;
    }
}
